<div class="new message">
  <div class="user">kmcd</div>
  <div class="input">
    <%= form_for Message.new, remote:true do |form| %>
      <%= form.text_area :input, autocomplete:'off', autofocus:true, rows:1 %>
      <%= form.submit %>
    <% end %>
  </div>
</div>