<%= form_for Message.new, remote:true do |form| %>
  <span>kmcd &gt; </span>

  <%= form.text_area :content, class:'cmdline', autocomplete:'off', 
    autofocus:true, rows:1 %>
  <%= form.submit %>
<% end %>