<div>
  <%# TODO: use a div instead of form to display last command %>

  <form>
    <span class='prompt'>
      <span class='user'>kmcd</span>
      <span class='go'> -> </span>
    </span>
    
    <input autofocus name='input' type='text' class='cmdline' 
      autocomplete='off' value="<%= @command.input %>" />
  </form>

  <%= render partial:'commands/new' %>
</div>