<form class='command' id='command_1'>
  <%= render partial:'commands/prompt' %>
  
  <input name='input' type='text' class='cmdline' 
    autocomplete='off' value="<%= @message.input %>" readonly />
</form>