html { padding: 1em; }
html * { margin: 0; padding: 0; }

form.new_message {
  textarea { 
    cursor: auto;
    outline:none;
    resize: none;
    width: 600px;
    vertical-align: bottom;
  }
  
  input[type='submit'] { display: none; }
}

.room {
  display: table;
  
  .message {
    display: table-row;
    
    .user, .input {
      display: table-cell;
    }
    
    .user {
      text-align: right;
    }
    
    .input {
      padding-left: 1em;
    }
  }
}