// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room {
  display: table;
  
  .message {
    display: table-row;
    
    .user, .input {
      display: table-cell;
    }
    
    .user {
      text-align: right;
    }
    
    .input {
      padding-left: 1em;
    }
  }
}
