// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, html * { 
  font-family: "Inconsolata", "courier new", monospace;
}

html { padding: 1em; }

form, textarea { margin: 0; padding: 0; }
textarea { 
  background-color: rgb(255, 255, 255);
  text-shadow: none;
  cursor: auto;
  outline:none;
  color: black;
  resize: none;
  width: 90%;
  border: none;
}
