<%= form_for Command.new, remote:true do |form| %>
  <span class='prompt'>
    <span class='user'>kmcd</span>
    <span class='go'> -> </span>
  </span>
  
  <%= form.text_field :input, class:'cmdline', autocomplete:'off', autofocus:true %>
<% end %>
